:root {
  --green: #14ae5c;
  --smooth-gray: #3a3a3a;
  font-size: 16px;
  --padding-x: 0 10%;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: sans-serif, "Poppins";
  list-style: none;
  text-decoration: none;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}

* .green-text {
  color: var(--green);
}

a:hover {
  text-decoration: underline;
  color: var(--green);
}

.linear-background {
  background: linear-gradient(to right, rgb(15, 15, 15), #002411);
}

body {
  background-color: black;
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
  font-style: italic;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 6;
  backdrop-filter: blur(4px);
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 16%;
}

.nav-container .menu {
  display: flex;
  gap: 14px;
  align-items: center;
}

.hamburger {
  display: none;
  align-items: center;
  justify-content: center;
}
.hamburger ion-icon {
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: flex;
  }
  .nav-container {
    padding: 4% 10%;
  }
  .nav-container .menu {
    display: none;
  }
}

.top-bar {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 4;
  padding-top: 20%;
  background-color: rgb(08, 08, 08);
  transform: translateY(-100%);
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.top-bar .menu {
  display: flex;
  padding: 0 10%;
  padding-bottom: 10%;
  gap: 12px;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

button {
  border: none;
  background-color: transparent;
  padding: 12px 24px;
  flex-grow: 1;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 1rem;
}
.primary-btn {
  background-color: var(--green);
}
.secondary-btn {
  background-color: rgb(15, 15, 15);
  border: 1px solid rgb(120, 120, 120);
}

main {
  width: 100%;
  height: 60vh;
  background-image: url("../assets/main-bg (2).png");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 0;
}
main .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0, 0));
  padding: 0;
}
main .buttons {
  display: flex;
  gap: 12px;
  margin: 10%;
  display: none;
}

main .container h1 {
  font-size: 3rem;
  font-weight: 700;
}
.subheadline {
  font-size: 2rem;
  margin-bottom: 16px;
}

@media only screen and (max-width: 800px) {
  * main {
    height: 80vh;
  }
  main .buttons {
    display: flex;
  }
  main .container {
    text-align: start;
    align-items: start;
  }
  main .container h1 {
    font-size: 2rem;
    padding: 0 10%;
  }
  .subheadline {
    padding: 0 10%;
    font-size: 1.5rem;
  }
}

section {
  width: 100%;
  height: fit-content;
}
section .container {
  padding: 2% 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 80vh;
}

.group-1 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.feature {
  flex-grow: 1;
  height: 100%;
  border: 1px solid rgb(80, 80, 80);
  border-radius: 10px;
  display: flex;
  position: relative;
}
.feature .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.feature .text p,
.feature .text h4 {
  padding: 40px;
}
.feature .text h4 {
  font-size: 1.5rem;
}
.feature .text p {
  color: rgb(200, 200, 200);
}

.feature-1 {
  width: 60%;
  background: linear-gradient(
    to right,
    rgb(15, 15, 15, 0.2),
    rgb(20, 174, 92, 0.1)
  );
}
.feature-1 img {
  object-fit: contain;
  width: 100%;
  /* position: absolute; */
  width: 30%;
  right: 0;
  bottom: 0;
  /* margin-right: 12px;
  margin-bottom: 12px; */
  border-radius: 10px;
}

.feature-2 {
  width: 40%;
  background: linear-gradient(to top, rgb(25, 25, 25), transparent);
}
.feature-2 .text {
  width: 100%;
}

.group-2 {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.feature-3 img {
  width: 80%;
  object-fit: contain;
  margin-top: 24px;
}

footer .container {
  padding: 4% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin: 32px 0;
}
.icons ion-icon {
  font-size: 2rem;
}
footer .container i {
  margin-top: 4%;
  color: rgb(100, 100, 100);
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 14px;
  }
  * {
    font-size: 1rem;
  }
  .logo {
    font-size: 2rem;
  }
  h4 {
    font-size: 20px;
  }
  section .container {
    padding: 10% 0;
    height: auto;
  }
  .group-1 {
    flex-direction: column;
  }
  .feature-1 img {
    display: none;
  }
  .feature {
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .feature .text {
    width: 100%;
  }
  .feature .text h4 {
    font-size: 1.5rem;
  }
  .feature .text p,
  .feature .text h4 {
    padding: 24px;
  }
}
